---
apiVersion: apps/v1 
kind: Deployment 
metadata:
  name: frontend-dep 
  labels:
    env: dev 
specs:
  replicas: 3
  selector: 
    matchLabels:
      env: dev 
  template:
    metadata:
      labels:
        env: dev 
    spec:
      conatiners:
        - name: frontend-pod 
          image: mehulbisen/frontend:v1 
          ports:
            - containerPort: 80
...
apiVersion: v1
kind: Service 
metadata: 
  name: frontend-svc 
  labels:
    env: dev 
spec:
  type: ClusterIP 
  selector:
    env: dev 
  ports: 
    - port: 80
      targetPort: 80
      protocol: TCP 
...