---
apiVersion: apps/v1
kind: Deployment
metadata: 
  name: api-dep 
  labels:
    env: dev
spec: 
  replicas: 3
  selector:
    matchLabels:
      env: dev 
  template: 
    metadata:
      labels:
        env: dev
    spec:
      containers:
        - name: api-pods
          image: mehulbisen/api:v1
          ports:
            - containerPort: 80
...
---
apiVersion: v1 
kind: Service
metadata:
  name: api-svc 
  labels:
    env: dev 
spec: 
  type: ClusterIP
  selector: 
    env: dev 
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
...